@font-face {
    src: url('../../assets/fonts/Archivo Black/ArchivoBlack-Regular.ttf') format('truetype');
    font-family: 'Archivo Black';
}
@font-face {
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-family: 'Poppins';
}