:root {
    --green: #10b981;
    --teal: #14b8a6;
    --blue: #3b82f6;
    --indigo: #6366f1;
    --purple: #8b5cf6;
    --yellow: #fdd25c;
    --orange: #f97316;
    --red: #ef4444;
    --pink: #ec4899;

    --accent: #8b5cf6;
    --second-accent: #10b981;
    
    &[app-theme="light"] {
        --background: #edf2f8;
        --background-light: #fff;

        --border-color: rgb(150, 150, 150);
        
        --font: #1f1f1f;
        --font-pale: #777;
        --dark-font-pale: rgb(211, 211, 211);
    }
}