@import '../../scss/global/breakpoints.scss';

div#ThemeContainer {
    div.toggle-theme {
        position: fixed;
        padding: 1rem;
        top: 30%;
        right: -7px;
        z-index: 999;
        transition: right 0.4s ease-in-out;
        button {
            font-size: 1rem;
            color: #fff;
            background-color: var(--accent);
            box-shadow: -4px 0 14px -1px rgba(0, 0, 0, 0.3);
            border-radius: 50% 50% 50% 50% / 50% 86% 14% 50%;
            padding: 0.8rem;
            display: flex;
            opacity: 1;
            cursor: pointer;
            i {
                animation: rotate 2s infinite linear;
                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(359deg);
                    }
                }
            }
        }
    }
    &.active div.toggle-theme {
        right: 294px;
    }
    &.active div.container {
        right: 0px;
    }
    div.container {
        background: var(--background-light);
        box-shadow: -4px 0 14px -1px rgba(0, 0, 0, 0.15);
        position: fixed;
        width: 300px;
        height: 100%;
        right: -300px;
        z-index: 998;
        transition: right 0.4s ease-in-out;
        h3.title {
            font-size: 1rem;
            text-align: center;
            color: var(--font-pale);
            margin: 1.6rem 0 2.5rem 0;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 120px;
                padding-top: 0.5rem;
                border-bottom: 1px solid var(--accent);
                @include sm {
                    width: 90px;
                }
            }
            @include sm {
                font-size: 0.9rem;
            }
        }
        div.content {
            margin-left: 1.8rem;
            h4.category, h4.status {
                font-size: 0.92rem;
                @include sm {
                    font-size: 0.87rem;
                }
            }
            h4.category {
                color: var(--font);
                margin-top: 1.5rem;
            }
            h4.status {
                color: var(--font-pale);
            }
            div.themes {
                margin-top: 1.2rem;
                display: flex;
                i {
                    position: relative;
                    color: var(--font-pale);
                    font-size: 1.25rem;
                    margin-right: 0.6rem;
                    transition: color 0.3s;
                    cursor: pointer;
                    &:hover {
                        color: var(--font);
                    }
                    &.active {
                        color: var(--accent);
                    }
                    @include sm {
                        font-size: 1.15rem;
                    }
                }
                div.accents {
                    border-radius: 5px;
                    padding: 6.5px 6px 2.5px;
                    margin-right: 1px;
                    cursor: pointer;
                    &.active {
                        background: var(--background);
                    }
                    span {
                        padding: 0.5em;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
            }
        }
    }
}