@import '../scss/global/fonts.scss';
@import '../scss/global/variables.scss';

*, ::after, ::before {
    border:none;
    outline:0;
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}

html {
    -webkit-tap-highlight-color: transparent;
}
body {
    background: var(--background);
    color: var(--font);
    font-family: 'Poppins', sans-serif;
    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
}