@import '../scss/global/fonts.scss';
@import '../scss/global/variables.scss';

html {
    -webkit-tap-highlight-color: transparent;
}
body {
    background: var(--background);
    color: var(--font);
    font-family: 'Poppins', sans-serif;
    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
}