@import '../../scss/global/breakpoints.scss';

section#ErrorSection {
    font-weight: 800;
    text-align: center;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    @include sm {
        min-height: 85vh;
    }
    div.text-content {
        margin: 1rem;
        @include xmd {
            margin: 0;
        }
        div.glitch {
            line-height: 1;
            font-family: 'Archivo Black', sans-serif;
            font-size: 300px;
            @include xmd {
                font-size: 45vw;
            }
        }
        h1 {
            color: var(--font-pale);
            font-weight: 800;
            font-size: 35px;
            @include xmd {
                font-size: 5.4vw;
            }
        }
        p {
            color: var(--font-pale);
            font-size: 25px;
            @include xmd {
                font-size: 3.9vw;
            }
        }
    }
}